{# templates/leave/index.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Liste des congés{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
        }

        .table {
            width: 100%;
            border-collapse: collapse;/* Cela peut aider à gérer comment les bordures des cellules sont combinées */
            margin-top: 20px;
        }

        .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto; /* Permet au tableau de défiler horizontalement si nécessaire */
        -webkit-overflow-scrolling: touch; /* Permet le défilement fluide sur les appareils tactiles */
        }


        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 0px;
            text-align: left;
            width: auto; /* Ajustez selon les besoins, ou définissez des largeurs spécifiques pour certaines colonnes */
            overflow: hidden; /* Pour éviter le débordement du texte */
            text-overflow: ellipsis; /* Ajoute des ellipses si le texte déborde */
         {#   white-space: nowrap; /* Empêche le texte de passer à la ligne */ #}
        }
        


        .table th {
            background-color: #f2f2f2;
        }

        .table td:last-child {
            text-align: center;
        }

        textarea {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            resize: vertical;
        }

        #rejectionCommentSection {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des congés</h1>
    
    {% if not is_granted('ROLE_ADMIN') %}
    <a href="{{ path('leave_new') }}" class="btn btn-primary">Ajouter un congé</a>
    {% endif %}

<div class="table-responsive"> <!-- Ajouter cette div autour de votre tableau -->

    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>ID</th>
                <th>Nom Employé</th> <!-- Nouvelle colonne pour le nom de l'employé -->
                {#<th>Date_Départ</th>#}
                {#<th>Date_Arrivée</th>#}
                <th>Dates de congés</th> <!-- Colonne fusionnée -->
                <th>Type Congé</th>
                <th>Description</th>
                <th>Certificat Médical</th>
                <th>Statut Congé</th>
                <th>Commentaire</th>{# Nouvelle colonne #}

            </tr>
        </thead>
        <tbody>
        {% for leave in leaves %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ leave.id }}</td> 
                <td>{{ leave.employee.name }}</td> <!-- Afficher le nom de l'employé -->
                {#<td>{{ leave.LeaveFrom|date('Y-m-d') }}</td>#}
                {#<td>{{ leave.LeaveTo|date('Y-m-d') }}</td>#}
                <td>Du {{ leave.LeaveFrom|date('Y-m-d') }} au {{ leave.LeaveTo|date('Y-m-d') }} inclus</td> <!-- Afficher les dates de congés fusionnées -->
                <td> {{ leave.leavetype }} </td>
                <td>{{ leave.LeaveDescription }}</td>

                <td>
                        {% if leave.medicalCertificatePath %}
                            <!-- Lien de téléchargement du certificat médical -->
                            <a href="{{ path('download_file', {'filename': leave.medicalCertificatePath}) }}" class="btn btn-primary">Télécharger</a>
                        {% else %}
                            Aucun
                        {% endif %}
                </td>

                <td>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                
                        <form action="{{ path('leave_update_status', {'id': leave.id}) }}" method="post">
                            <select name="status" onchange="this.form.submit()">
                                <option value="1" {% if leave.leaveStatus == 1 %}selected{% endif %}>En cours</option>
                                <option value="2" {% if leave.leaveStatus == 2 %}selected{% endif %}>Approuvé</option>
                                <option value="3" {% if leave.leaveStatus == 3 %}selected{% endif %}>Rejeté</option>
                            </select>
                        </form>
                        
                    {% else %}
                            {% if leave.leaveStatus == 1 %}
                                En cours
                            {% elseif leave.leaveStatus == 2 %}
                                Approuvé
                            {% elseif leave.leaveStatus == 3 %}
                                Rejeté
                            {% endif %}
                
                    {% endif %}

                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') and leave.leaveStatus == 3 %}
                        <form action="{{ path('leave_update_comment', {'id': leave.id}) }}" method="post">
                            <textarea name="rejectionComment" required>{{ leave.rejectionComment }}</textarea>
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                            <input type="hidden" name="_token" value="{{ csrf_token('update_comment' ~ leave.id) }}">
                        </form>
                    {% else %}
                        {{ leave.rejectionComment ? leave.rejectionComment : '' }}
                    {% endif %}
                </td>


                <td>
                        {# Afficher le bouton de suppression uniquement pour les employés #}
                        {% if not is_granted('ROLE_ADMIN')%}
                        {% if leave.leaveStatus == 1 %}
                
                            <form action="{{ path('leave_delete', {'id': leave.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce congé ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ leave.id) }}">
                                <button type="submit" class="btn btn-danger btn-sm">Annuler</button>
                            </form>

                        {% endif %}
                        {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune demande de congé trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Assurez-vous que cette sélection correspond à la structure de votre formulaire
    var statusSelectElements = document.querySelectorAll('select[name="status"]');

    statusSelectElements.forEach(function(selectElement) {
        selectElement.addEventListener('change', function() {
            // Trouver le conteneur de commentaire lié à ce sélecteur
            var rejectionCommentSection = this.closest('td').querySelector('#rejectionCommentSection');
            // Afficher ou masquer la section de commentaire basée sur la sélection
            if (this.value === '3') { // Si "Rejeté" est sélectionné
                rejectionCommentSection.style.display = 'block';
            } else {
                rejectionCommentSection.style.display = 'none';
            }
            
        });
    });
});
</script>
{% endblock %}



{% endblock %}

