{% extends 'base.html.twig' %}

{% block title %}Liste des Employés{% endblock %}

{% block body %}
    <h1>Liste des Employés</h1>
    <a href="{{ path('employee_new') }}" class="btn btn-primary">Ajouter un Employé</a>
<table class="table">
    <thead>
        <tr>
            <th>S.NO</th>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            {#<th>Password</th>#}
            <th>Mobile</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td> 
            <td>{{ employee.username }}</td>
            {#<td>{{ employee.password }}</td>#}
            <td>{{ employee.mobile }}</td>
            <td>
                <div class="d-flex align-items-center">

                    <a href="{{ path('employee_edit', {'id': employee.id}) }}" class="btn btn-sm btn-secondary">
                    <i class="fas fa-pencil-alt"></i>
                    </a>

                    <form action="{{ path('employee_delete', {'id': employee.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?'); class="ms-2"">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
                        <button type="submit" class="btn btn-sm text-danger" style="background: none; border: none;">
                            <i class="fas fa-trash"></i>
                    </form>

                    {#<a class="btn-outline-danger flex-shrink- delete-link" href="{{ path('employee_delete', {'id': employee.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer un employé ?');">
                    <i class="fas fa-trash"></i>
                    </a>#}
                    {#<form action="{{ path('employee_delete', {'id': employee.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
                        <button type="submit" class="btn btn-outline-danger delete-link">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>#}       
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun employé trouvé.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
