{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}FC CONSULTING - Dashboard{% endblock %}</title>
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
    {% block stylesheets %}
        <style>
           #accordionSidebar .nav-link, 
           #accordionSidebar .nav-link span, 
           #accordionSidebar .nav-link .fas {
               color: #fff !important;
           }
        </style>
    {% endblock %}

</head>
<body id="page-top">
    <div id="wrapper">
       {# {% block sidebar %}{% include 'partials/sidebar.html.twig' %}{% endblock %} #}
            {% block sidebar %}
                {% if is_granted('ROLE_ADMIN') %}
                    <!-- Custom Admin Sidebar -->
                    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                        <!-- Sidebar - Brand -->
                        <div class="sidebar-brand d-flex align-items-center justify-content-center">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fas fa-laugh-wink"></i>
                            </div>
                            <div class="sidebar-brand-text mx-2">FC CONSULTING</div>
                        </div>
                        <!-- Divider -->
                        <hr class="sidebar-divider my-0">
                        <!-- Nav Item - Dashboard -->
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('admin_dashboard') }}">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <!-- Divider -->
                        <hr class="sidebar-divider">
                        <!-- Heading -->
                        <div class="sidebar-heading">
                            Interface
                        </div>
                       {# <li class="menu-item-has-children dropdown">#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('employee_index') }}"> 
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                            Employés 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('department_index') }}">
                            <i class="fas fa-building fa-2x text-gray-300"></i>
                             Départements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('leave_type_index') }}">
                            <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                             Types de congés </a>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link" href="{{ path('leave_index') }}">
                            <i class="fas fa-suitcase-rolling fa-2x text-gray-300"></i>
                             Demandes de Congés </a>
                        </li>

                        <li class="menu-item-has-children dropdown">
                            <a class="nav-link" href="{{ path('pointage_index') }}">
                         <!--  <i class="fas fa-clock fa-2x text-gray-300"></i> 
                                Pointage Mensuel </a> --> 
                            <i class="fas fa-stopwatch fa-2x text-gray-300 "></i> 
                             Pointage </a>
                        </li>
                        
                    </ul>
                {% elseif is_granted('ROLE_USER') %}
                    <!-- Custom Admin Sidebar -->
                    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                        <!-- Sidebar - Brand -->
                        <div class="sidebar-brand d-flex align-items-center justify-content-center">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fas fa-laugh-wink"></i>
                            </div>
                            <div class="sidebar-brand-text mx-2">FC CONSULTING</div>
                        </div>
                        <!-- Divider -->
                        <hr class="sidebar-divider my-0">
                        <!-- Nav Item - Dashboard -->
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('employee_dashboard') }}">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                         <!-- Divider -->
                        <hr class="sidebar-divider">
                        <div class="sidebar-heading">
                            Interface
                        </div>
                        <li class="menu-item-has-children dropdown">
                             <a class="nav-link" href="{{ path('employee_profile', {'id': app.user.id}) }}"> 
                            <i class="fas fa-user fa-2x text-gray-300" ></i>
                             Profil
                            </a>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a class="nav-link" href="{{ path('leave_index') }}">
                            <i class="fas fa-umbrella-beach fa-2x"></i>
                             Congés
                            </a>                        
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a class="nav-link" href="{{ path('pointage_index') }}">
                                <i class="fas fa-clock fa-2x"></i>
                                Pointage
                            </a>                        
                        </li>

                    </ul>
                {% endif %}
            {% endblock %}

        <div id="content-wrapper" class="d-flex flex-column">  
            <div id="content">
                {% block topbar %}{% include 'partials/topbar.html.twig' %}{% endblock %}
                <div class="container-fluid">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>


{#<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <!-- Bouton de déconnexion -->
    <div>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
</header>

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>#}
